@model IEnumerable<MVC_Exam2_Practice3.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ExamId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
